{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script type="text/javascript" src="{% static 'bin/jquery-3.3.1.min.js' %}"></script>
    </head>
    <body style="background-image: url({% static 'img/library.jpg' %});">
        <div class="navbar">
            <div class="navbar-inner">
                <h3>Nuevo Usuario</h3>
                <a class="color-white" href="/user/login/">Ya tienes una cuenta? Inicia sesion aqui</a>
                {% csrf_token %}
                <div class="col-2">
                    <div>
                        <label>Nombres</label>
                        <input type="text" id="txt_nombre" onkeypress="return Validarform(event,0);" placeholder="Ingresa tus nombres">
                    </div>
                    <div>
                        <label>Departamento</label>
                        <select id="sl_dept">
                            {% for departamentos in departamentos %}
                                    <option value='{{ departamentos.id }}'>{{ departamentos.nombre }}</option>
                            {% endfor%}
                        </select>
                    </div>
                </div>
                <div class="col-2">
                        <div>
                            <label>Apellidos</label>
                            <input type="text" id="txt_apellido" onkeypress="return Validarform(event,0);" placeholder="Ingresa tus apellidos">
                        </div>
                        <div>
                            <label>Municipio</label>
                            <select id="sl_muni"></select>
                        </div>
                </div>
                <div class="col-2">
                        <div>
                            <label>Direccion</label>
                            <input type="text" id="txt_direccion" placeholder="Ingresa tu direccion">
                        </div>
                        <div>
                            <label>Zona</label>
                            <input type="text" id="txt_zona" onkeypress="return Validarform(event,1);" maxlength="2" placeholder="Ingresa tu zona">
                        </div>
                </div>
                <div class="col-2">
                        <div>
                            <label>Telefono</label>
                            <input type="text" id="txt_tel" onfocusout="Validartelefono(this);" onkeypress="return Validarform(event,1);" maxlength="8" placeholder="Ingresa tu telefono">
                        </div>
                        <div>
                            <label>Institucion</label>
                            <input type="text" id="txt_edu" placeholder="Ingresa tu institucion educatica">
                        </div>
                </div>
                <div class="col-2">
                        <div>
                            <label>Correo</label>
                            <input type="text" id="txt_correo" placeholder="Ingresa tu correo" onfocusout="Validarcorreo();">
                            <p id="p_correo" style="display: none; font-size: 8pt; ">* El correo solamente puede tener letras, numeros, - y .</p>
                        </div>
                        <div>
                            <label>Escolaridad</label>
                            <select id="sl_escolaridad">
                                <option>Ninguna</option>
                                <option>Primaria</option>
                                <option>Secundaria</option>
                                <option>Diversificado</option>
                                <option>Universidad</option>
                            </select>
                        </div>
                </div>
                <div class="col-2">
                        <div>
                            <label>Contraseña</label>
                            <input type="password" id="txt_contra" onfocusout="Validarcontra();" placeholder="Ingresa tu contraseña">
                            <br>
                            <label>Confirma</label>
                            <input type="password" id="txt_concontra" onfocusout="Concontra();" placeholder="Ingresa tu contraseña">
                            <p id="concontra" style="display: none; font-size: 8pt; ">* La contraseña no coincide</p>
                            <br>
                            <label>Genero</label>
                            <input type="radio" name="rad_genero" checked id="rad_fem"><label for="rad_fem">Femenino</label>
                            <input type="radio" name="rad_genero" id="rad_mas"><label for="rad_mas">Masculino</label>
                        </div>
                        <div>
                            <br><br>
                            <div class="col-2">
                                    <div id="list"><img src="{% static 'img/user-default.png' %}" style="border-radius: 50%; width: 72px; height: 72px;"></div>
                                    <div style="text-align: left;">
                                        <p id="img_address"></p>
                                        <input type="file" id="files" name="files[]" value="Examinar" />
                                    </div>
                            </div>
                        </div>
                </div>
                <div class="col-2">
                        <div>
                            <label>Fecha de nacimiento</label>
                            <input type="date" id="txt_fecha" onfocusout="Validarfecha(this);">
                        </div>
                        <div>
                            <a href="#" id="hterminos" class="color-white"> Terminos y condiciones</a>
                        </div>
                </div>
                <div class="col-2">
                    <div>
                        <label>CUI</label>
                        <input type="text" onkeypress="return Validarform(event,1);" onfocusout="Validarcui();" id="txt_cui" placeholder="Ingresa tu CUI" maxlength="13">
                        <p id="p_cui" style="display: none; font-size: 8pt; ">* El CUI es incorrecto.</p>
                    </div>
                    <div>
                        <input type="checkbox" id="chk_terminos">
                        <label for="chk_terminos">Acepto los terminos y condiciones</label>
                    </div>
                </div>
                <button class="round-blue margin-24" id="btn_registrar">Registrarse</button>
            </div>
        </div>
        <div class="terminos">
            <div class="terminos-inner">
                <p>
                        Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios así como la compra de nuestros productos implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente documento. Todas los productos  que son ofrecidos por nuestro sitio web pudieran ser creadas, cobradas, enviadas o presentadas por una página web tercera y en tal caso estarían sujetas a sus propios Términos y Condiciones. En algunos casos, para adquirir un producto, será necesario el registro por parte del usuario, con ingreso de datos personales fidedignos y definición de una contraseña.
                        <br><strong>LICENCIA</strong><br>
                          A través de su sitio web concede una licencia para que los usuarios utilicen  los productos que son vendidos en este sitio web de acuerdo a los Términos y Condiciones que se describen en este documento.
                </p>
                <button class="round-blue" id="btn_cterminos">REGRESAR</button>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'users/registro.js' %}"></script>
    </body>
</html>